[filter:cors]
use = egg:wsgicors#middleware
policy = open
open_origin = *
open_headers = *
open_expose_headers = *
open_methods = *
open_maxage = 86400

[filter:swagger]
paste.filter_factory = common.swaggermiddleware:factory
swagger_json = conf/swagger_versions.json conf/swagger_apiv1.json

[filter:swaggermapper]
paste.filter_factory = common.swaggermapper:factory
swagger_json = conf/swagger_versions.json conf/swagger_apiv1.json

[app:versions_app]
paste.app_factory = app.versions:factory

[app:apiv1_app]
paste.app_factory = app.apiv1:factory
config_file = conf/apiv1.ini

[pipeline:versions_api]
pipeline = cors swagger versions_app

[pipeline:v1_api]
pipeline = cors swagger apiv1_app

[composite:main]
use = egg:Paste#urlmap
/v1 = v1_api
/ = versions_api

[server:main]
use = egg:Paste#http
host = 255.255.255.255
port = 9494
