[filter:cors]
use = egg:wsgicors#middleware
policy = open
open_origin = *
open_headers = *
open_expose_headers = *
open_methods = *
open_maxage = 86400

[filter:swagger_versions]
paste.filter_factory = swaggermapper:factory
swagger_json = conf/swagger_versions.json

[filter:swagger_apiv1]
paste.filter_factory = swaggermapper:factory
swagger_json = conf/swagger_apiv1.json

[app:versions_app]
paste.app_factory = app.versions:factory

[app:apiv1_app]
paste.app_factory = app.apiv1:factory
config_file = apiv1app.ini

[pipeline:versions_api]
pipeline = cors swagger_versions versions_app

[pipeline:v1_api]
pipeline = cors swagger_apiv1 apiv1_app

[composite:main]
use=egg:Paste#urlmap
/v1 = v1_api
/ = versions_api

[server:main]
use = egg:Paste#http
host = 10.0.7.117
port = 9494
