[filter:cors]
use = egg:wsgicors#middleware
policy = open
open_origin = *
open_headers = *
open_expose_headers = *
open_methods = *
open_maxage = 86400

[filter:gzip]
use = egg:Paste#gzip
compress_level = 6

[filter:swagger]
paste.filter_factory = swaggerapp.swaggermiddleware:factory
swagger_json = /etc/reporting-api/swagger_versions.json /etc/reporting-api/swagger_apiv1.json

[filter:swaggermapper]
paste.filter_factory = swaggerapp.swaggermapper:factory
swagger_json = /etc/reporting-api/swagger_versions.json /etc/reporting-api/swagger_apiv1.json

[filter:authtoken]
paste.filter_factory = reporting.common.authapp:keystone_auth_filter_factory
config_file = /etc/reporting-api/apiv1.ini

[app:versions_app]
paste.app_factory = reporting.api.versions:app_factory

[app:apiv1_app]
paste.app_factory = reporting.api.apiv1:app_factory
config_file = /etc/reporting-api/apiv1.ini

[pipeline:versions_api]
pipeline = cors swagger versions_app

[pipeline:v1_api]
pipeline = cors authtoken swagger gzip apiv1_app

[composite:main]
use = egg:Paste#urlmap
/v1 = v1_api
/ = versions_api

[server:main]
use = egg:Paste#http
host = 255.255.255.255
port = 9494
